
<app-navbar [header]="'Home'" [link]="'home'"></app-navbar>
<div class="p-3 ">
    <div class="row align-self-center">
        <div class="align-items-start">
            <div class="input-group">
            <input type="file" class="form-control" (change)="handleFileInput($event)">
            <button class="btn btn-primary" (click)="getCalculatedOrders()">Submit</button>
        </div>
        </div>
    </div>
    <div class="p-3" *ngIf="order">
        <div class="d-flex justify-content-end">
            <button class="btn btn-success" (click)="uploadAndEmailOrder()">Upload and Email</button>
        </div>
    </div>
    
    <div class="row py-3">
        <div *ngIf="order">
                <app-order-form [order]="order"></app-order-form> 
        </div>
    </div>
</div>
